/* Hide any unwanted UI elements */
a.watermark {
  display: none !important;
}

/* Adjust the UI to remove empty spaces */
#chainlit-copilot {
  margin-bottom: 0px !important;
}

/* Customize Button Appearance */
button {
  background-color: #ff0077 !important;
  border-radius: 5px;
  color: white !important;
}

/* Hide unwanted UI elements */
[data-testid="components.molecules.newChatButton.newChat"] {
  display: none !important;
}
